body {
  background-image: url("https://pixabay.com/get/g31bf5a54314ec9c7e53539f5a65e1b77ce98e7484954467d35302e7c0eb8bbd97ddc8c342dfb1e8efe7d40b707b33835e95f1346024aba18fbd31c1c6a166e1f679ebd2bab3593849c7b758fdb5a629c_1280.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

audio {
  display: block;
  width: 400px;
  margin: 20px 0;;
}


.slider {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="range"] {
  display: block;
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background-color: #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #666;
}
